body{
  width: 100%;
  margin: 0 auto;
  background-color: white;
  color: black;
  text-align: justify;
  background-image: url("../imagen/sayagata-400px.png");
}

a {
  color: #797979;
}

.contenedor{
  overflow: hidden;
}

.cabecera{
  height: 50px;
  margin 0 auto;
  border-top: 10px solid #04b486;
  border-bottom: 20px solid #04b486;
  background: #04b486;
}

.cabecera h1 {
  color: white;
  margin-left: 20px;
}

.menu{
  width: 100%;
  height: 50px;
  background-color:  	#CCCC99;
  padding-top: 1px;
  margin-top: 0;
  border-bottom: 1px solid #CCCCCC;
}

.menu ul {
  margin: 0;
  text-align: center;
}

.menu ul li {
  display: inline-block;
  margin-top: 6px;
  padding: 2px 0 2px 4px;
  list-style-type: none;
}

.menu ul li a{
  text-decoration: none;
  font-size: 20px;
}

.menu ul li a:hover{
  color: #e93700;
}

.contenido{
  margin-bottom: 70px;
}

.contenido h2{
  text-align: right;
  margin-right: 100px;
}

.contenido h3{
  margin-left: 100px;
}

.contenido h4{
  margin-left: 100px;
}

.contenido p {
  margin-right: 100px;
  margin-left: 100px;
}

.contenido .perfil {
  text-align: center;
}

.cuento{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.seccion{
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 40px;
}

.seccion ul{
  margin-left: 100px;
}

.odd img{
  width: 225px;
  float: right;
  border-radius: 20%;
  margin-left: 30px;
}

.even img{
  width: 190px;
  height: 200px;
  float: left;
  border-radius: 20%;
  margin-right: 30px;
}

.imagen{
  width: 50%;
  float: left;
}

.imagen img {
  width: 250px;
  border-radius: 20%;
  float: right;
  margin-top: 40px;
  margin-right: 10%;
}

.sub-cont{
  width: 50%;
  margin-top: 40px;
  float: right;
}

.sub-cont h2 {
  text-align: left;
  color: #CCCC99;
}

.imagen_la_cita{
  text-align: center;
}

.imagen_la_cita img{
  width: 400px;
}

.imagen_el_hombre{
  text-align: center;
}

.imagen_el_hombre img{
  width: 260px;
  height: 400px;
}

.imagen_el_timo {
  text-align: center;
}

.imagen_el_timo img{
  width: 400px;
}

.material img{
  width: 50%;
  float: right;
}
